.offer_section{
    margin-bottom: 3rem;
    width: 400px;
}
.offer_section i{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
    color: white;
    background-color: #F1880D;
  }
  .offer_section h1{
    margin: 0;
    margin-top: 1rem
  }
  .offer_section p{
    margin:0;
    color: #7e868c;
  }

@media (max-width:960px){
  .offer_section{
    margin-left: 2rem;
    
}
}