.goal_section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}
.goal_title{
    padding: 0 3rem;

}
.goal_title h3{
    color: #f1880d;
    padding: 0rem;
}
.goal_title h1{
    color: #2f373d;
    padding: 0rem;
    width: 450px;
}
.goal_title p{
    color: #7e868c;
    width: 500px;
}
.goal_display{
    padding:3rem;
    width: 1000px;

}
.goal_display img{
    width: 100%;
}

@media (max-width: 1264px){
    .goal_section{
        flex-direction: column;
    }
    .goal_title{
        padding: 0 2rem;
    
    }
    .goal_title h1{
        width: 90%;
    }
    .goal_title p{
        width: 95%;
    }
    .goal_display{
        padding:0;
        width: 100%;
        text-align: center;
    }

}


/* Member */
.about_member_section{
    text-align: center;
}
.about_member_section h1{
    margin-bottom: 2rem;
}
.about_member_section h3{
    margin-bottom: 2rem;
}
.about_member_founder_section{
    margin: 2rem;
    display: flex;
    justify-content: space-around;
   align-items: center;
}
.about_member_staff_section{
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
@media (max-width:960px){
    .about_member_founder_section{
        margin: 0;
        flex-direction: column;
    }
    .about_member_staff_section{
        margin: 0;
        flex-direction: column;
        align-items: center;
    }
}